

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img{
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul{
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.container{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1,h2,h3,h4,h5,h6,p{margin:0;}

/* #region header */
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav{
    display: flex; 
    align-items: center;
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.main-logo{
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     /* margin-right: 76px; */
     display: inline-block;
}

@media screen and (min-width: 768px) {
  .main-logo {
    margin-right: 120px;
  }
}

.nav-list{
    /* display: flex; */
    display: none;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}



.logo-span{
    color: #2e2f42;
}

.nav-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.studio-link{
    /* position: relative; */
    /* color: #404bbf;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

@media screen and (min-width: 768px) {
  .studio-link{
    position: relative;
    color: #404bbf;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}


/* .studio-link::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
} */

@media screen and (min-width: 768px) {
  .studio-link::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}}

.nav-link:hover, 
.nav-link:focus{
    color: #404bbf;
}

.address-list{
    display: flex;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: none
}

@media screen and (min-width: 768px) {
  .address-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
}
}

.nav-contact{
    font-style: normal;;
}

.nav-contact-address{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-address:hover, 
.nav-contact-address:focus{
    color: #404bbf;
}

.burger-menu-button{
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;    
}

.burger-menu-icon{
    display: flex;
    margin: 16px;
}

@media screen and (min-width: 768px) {
  .burger-menu-button {
    display: none;
  }
}

/* #endregion header */


/* #region main */   

.hero{
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-image-m.jpg);
    max-width: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) and (min-resolution: 192dpi){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-image-m2x.jpg);
    }
} 


.hero-tittle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

.values{
    padding: 96px 0;
}

.values-list{
    display: block;
    /* display: flex; */
    /* gap: 24px; */
}


.values-item{
    width: calc((100% - 72px) / 4);
    margin: 0 auto;
    width: 288px;
}

.values-item:not(:last-child){
    margin-bottom: 72px;
}

.values-icon{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    display: none;
}

.submain-tittle-values{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.submain-tittle-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.submain-tittle-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.submain-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.submain-text-team{
    text-align: center;
    margin-bottom: 8px;
}

.portfolio .submain-text, .portfolio .submain-tittle{
    text-align: left;
}

.submain-text-values{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-tittle{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team{
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-list{
    display: block;
    /* display: flex;
    gap: 24px; */
}

.team-item{
    background-color: #FFFFFF;
    width: 264px;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child){
    margin-bottom: 72px;
}

.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item{
    width: 40px;
    height: 40px;
}

.social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
    background-color: #404bbf;
}

.social-svg{
    fill: #f4f4fd;
}

.employee-descr{
    padding: 32px 0;
}

.portfolio{
    padding-top: 96px; 
    padding-bottom: 96px;
}

.portfolio-list{
    display: block;
    /* display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; */
}

.portfolio-item{
    margin: 0 auto;
    /* width: 288px; */
    /* width: calc((100% - 48px) / 3); */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:not(:last-child){
    margin-bottom: 72px;
}

.portfolio-item:hover{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.img-container{
    position: relative;
    overflow: hidden;
}

.overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addition-descr{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.addition-descr .submain-tittle{
    margin-bottom: 8px;
}
/* #endregion main */




/* #region footer */ 
.footer {
  background-color: #2e2f42;
  padding: 96px 0px;
}

.footer .container {
  /* display: flex; */
  align-items: baseline;
}

.footer-container {
    margin-bottom: 72px;
  /* margin-right: 120px; */
}

.footer .main-logo {
    text-align: center;
    display: block;
    margin-bottom: 16px;
}

.logo-span-footer {
  color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.social-footer{
    margin-bottom: 72px;
    /* text-align: center;
    justify-content: center; */
}

.social-text {
  margin-bottom: 16px;  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.social-list-footer {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 16px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color:  #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.form-paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    /* margin-left: 80px; */
    margin-bottom: 16px;
    text-align: center;
}

.footer-form{
    /* display: flex; */
    /* gap: 24px; */
    text-align: center;
}

.input-footer{
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    /* margin-left: 80px;
    margin-right: 24px; */
}

.input-footer::placeholder{
    color: #ffffff;
}

.subscribe-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 16px auto;
    margin-bottom: 0;
}

.send-svg{
    margin-left: 16px;
}



 /* #endregion footer */



 /* #region popup */
 .backdrop{
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
 }

 .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    width: 288px;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
 }

 .close-popup{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #e7e9fc;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 

 .close-popup:hover,
.close-popup:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}


 .close-popup-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .popup-tittle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
    color:#2E2F42
 }

 .label-popup{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
 }

 .form-field-wrapper{
    margin-bottom: 8px;
 }

 .input-wrapper{
    position: relative;
 }

 .popup-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
 }

 .popup-input:focus{
    border-color: #4D5AE5;
 }

 .popup-input:focus+.input-icon{
    fill: #4D5AE5;
 }

 .form-textarea-wrapper{
    margin-bottom: 16px;
 }

 .textarea-comment{
    padding: 8px 16px;
    border-radius: 4px;
    resize: none;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .textarea-comment::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
 }

 .textarea-comment:focus{
    border-color: #4D5AE5;
 }

 .form-checkbox{
    margin-bottom: 24px;
 }

 .privacy-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
 }

 .custom-checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
 }

 .checkbox-privacy:checked + .privacy-label .custom-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
 }

 .privacy-accent{
    color: #4d5ae5;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
 }


 .send-form-button{
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }



 /* #endregion popup */



 /* #region burger-menu */
 .burger-menu{
    position: fixed;
    background-color: #fff;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 72px 16px 40px 16px;
    transform: translateX(100%);
    transition: transform 0.5s ease;
 }

 .is-open{
    transform: translateX(0);
 }

 .close-burger-button{
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 32px;
    top: 32px;
 }

 .nav-burger{
    /* font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42; */
 }

 .nav-list-burger{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
 }

 .nav-list-burger .studio-link{
    color: #404bbf;
 }

 .nav-list-burger a{
    color: #2E2F42; 
 }

 .nav-link-burger{
    display: block;
    margin-bottom: 40px;
 }

 .nav-contact-burger{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
 }

 .address-list-burger .tel-contact-burger{
    color: #4D5AE5;
    margin-bottom: 24px;
 }

 .address-list-burger a{
    color: #434455;
    font-style: normal;
    display: block;
 }

 .nav-contact-burger{
    position: absolute;
    bottom: 20%;
 }

 .social-burger{
    position: absolute;
    bottom: 6.25%;
 }

 .social-link-burger{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.social-burger-list{
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    margin-top: 48px;
}

 
 



 /* #endregion burger-menu */