

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img{
    display: block;
}

a {
    text-decoration: none;
}

ul{
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* #region header */
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav{
    display: flex;
    align-items: center;
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.main-logo{
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     margin-right: 76px;
     display: inline-block;
}

.nav-list{
    display: flex;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.logo-span{
    color: #2e2f42;
}

.nav-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.studio-link{
    position: relative;
    color: #404bbf;
     transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover, 
.nav-link:focus{
    color: #404bbf;
}

.address-list{
    display: flex;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.nav-contact{
    font-style: normal;
}

.nav-contact-address{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-address:hover, 
.nav-contact-address:focus{
    color: #404bbf;
}

/* #endregion header */


/* #region main */   

.hero{
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-tittle{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

.values{
    padding: 120px 0;
}

.values-list{
    display: flex;
    gap: 24px;
}


.values-item{
    width: calc((100% - 72px) / 4);
}

.submain-tittle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.submain-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.main-tittle{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-top: 120px;
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-item{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.employee-descr{
    padding: 32px 0;
}

.portfolio{
    padding-top: 120px; 
    padding-bottom: 120px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
}

.addition-descr{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.addition-descr .submain-tittle{
    margin-bottom: 8px;
}
/* #endregion main */


/* #region footer */

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .main-logo{
    margin-bottom: 16px;
}

.logo-span-footer{
    color: #f4f4fd;
}

.footer-text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/* #endregion footer */